
.login-overlay{
    position: static;
    padding: 30px;
    width: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    left: 50%;
    z-index: 100000;
    background-image:linear-gradient(0deg, rgb(26, 26, 26),rgb(11, 11, 11));
    height:auto;
    border-radius: 16px;
  }

  .login-overlay h1,h5{
    color: white;
    font-weight: lighter;
    text-align: center;
    margin-top: 8px;
  }

  .login-overlay h1{
    font-size: 3rem;
  }
  
  .login-overlay b{
    color: white;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: transparent;
  }
  .form-container .close_button{
    background-color: black;
    position: relative;
    border: none;
    cursor: pointer;
    top:-2%;
    left: 100%;
    transform: translateX(-75%);
  }
  
  .form-container span{
    scale: 1.5;
    background-color: black;
    color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=username], .form-container input[type=password],.form-container input[type=email] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 30px 0;
    font-family: 'Poppins';
    border: none;
    background-color: rgb(53, 53, 53);;
    border-radius: 10px;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=username]:focus, .form-container input[type=password]:focus, .form-container input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container input [type=password]{
    margin-bottom: 30px;
  }


  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #d80606;  
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    opacity: 0.8;
  }

  .form-container h4{
    padding:0px;
    font-size: 16px;
    font-weight: light;
    position: relative;
    margin-top: 0px;
    top:-16px;
    margin-left: 20px;
    
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .form-container .google {
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    color: rgb(69, 69, 69);
    height:64px;
  }
